/* To import bungee tint font style*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

body{
    margin: 0;
    font-family: "Caveat", cursive;
    font-size: larger;
    background-color: rgba(240, 255, 255, 0.849);
}
.header{
    height: 50px;
    display: flex;
    /* To give space between the text fields*/
    justify-content: space-between;
}
ul{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    /* To remove the default list circles*/
    list-style-type: none;
    /* For responsiveness*/
    flex-wrap: wrap;
}
.main_heading{
    font-family: "Bungee Tint", sans-serif;
}
.content{
    margin-top: 30px;
}
.icon_area{
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon_name{
    font-weight: bolder;
    font-size: 30px;
}
.menu_area{
    margin-right: 10px;
}
li{
  padding: 10px;
  border-radius: 2px;
   /*For smooth animation of menu*/
  transition: transform 0.5s, background-color 0.5s;
}
li:hover{
  /* For hover effect*/
  transform: scale(1.1);
  border-bottom:2px solid black;
  background-color: rgba(240, 248, 255, 0.566);
 }
 .main_content{
    background-image: url(CompressJPEG.Online_img\(2000x1200\).jpg);
    height: 700px;
    text-align: center;
    display: flex;
    /* To bring the text to centre*/
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    flex-direction: column;
    flex-wrap: wrap;
}
.services{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
    justify-content: space-evenly;
    background-color: azure;
}
.services_heading{
    text-align: center;
    background-color: azure;
}
.card1,.card2,.card3,.card_image1,.card_image2,.card_image3{
    max-width: 400px;
    border: 1px solid black;
    text-align: center;
    border-radius: 5px;
}
.about_us{
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: aliceblue;
    justify-content: space-evenly;
    margin-top: 60px;
    padding-bottom: 40px;

}
.side_img{
    max-width: 800px;
}
.side_text{
    max-width: 500px;
    text-align: justify;
    /* foe spaces between lines of the context*/
    line-height: 1.5;
}
.card5,.card6,.card7,.card8,.card9,.card10,.card11,.card12,.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8{
    max-width: 400px;
    border-radius: 5px;
}
.card9,.card10,.card11,.card12{
    padding-top: 20px;
}
.g1,.g2,.g3,.g4,.g5,.g6,.g7,.g8{
    max-width: 1000px;
    cursor: pointer;
    transition: transform 1s;
    position: relative;
    padding: 20px;
}
.g1:hover,.g2:hover,.g3:hover,.g4:hover,.g5:hover,.g6:hover,.g7:hover,.g8:hover{
    transform: scale(1.1);
}
.gallery_text{
   
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-top: 60px;
}
.gallery{
    display: flex;
   flex-wrap: wrap;
   padding: 80px;
   justify-content: space-evenly;
   padding-top: 10px;
   padding-bottom: 80px;
   padding-top: 10px;
   padding: 10px;
   padding-bottom: 20px;
}
.footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.372);
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    margin-top: 20px;
}
/* For mobile devices*/
@media only screen and (max-width:700px)
{
    .gallery{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .side_text{
        padding: 10px;
    }
    .card1,.card2,.card3{
        margin-bottom: 10px;
    }
    .gallery_text{
        position: static;
        margin-top: 10px;
    }
    .menu_area{
        display: none;
    }
}
